{% extends 'base.html.twig' %}

{% block title %}Ingreso{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Bootstrap -->
    <link
            href="{{ asset('vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Font Awesome -->
    <link
            href="{{ asset('vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- NProgress -->
    <link
            href="{{ asset('vendors/nprogress/nprogress.css') }}" rel="stylesheet">
    <!-- Animate -->
    <link
            href="{{ asset('vendors/animate.css/animate.css') }}" rel="stylesheet">
    <!-- iCheck -->
    <link
            href="{{ asset('vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="{{ asset('buildfalse/css/custom.min.css') }}" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
{% endblock %}
{% block bodyclass %}class="login"{% endblock %}
{% block body %}
<a class="hiddenanchor" id="signup"></a>
<a class="hiddenanchor" id="signin"></a>
<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Has iniciado sesión {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Salir</a>
                </div>
            {% endif %}

            <img class="mb-4 mx-auto" src="{{ asset('images/image-back.jpg') }}" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Por favor inicie sesión</h1>
            <div class="form-floating">
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                       autocomplete="email" required autofocus>
                <label for="inputEmail">Email</label>
            </div>
            <div class="form-floating">
                <input type="password" name="password" id="inputPassword" class="form-control"
                       autocomplete="current-password" required>
                <label for="inputPassword">Password</label>
            </div>


            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            #}

            <button class="w-100 btn btn-lg btn-primary" type="submit">
                Ingresar
            </button>
            <div class="clearfix"></div>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </form>

        <div class="mb-3">
            ¿Ha olvidado su clave? <a href="{{ path('app_forgot_password_request') }}">Restablecer</a>
        </div>
            <div class="separator">


                <div class="clearfix"></div>
                <br/>

                <div>
                    <p>
                        <img class="fa " src="{{ asset('images/image-back.jpg') }}" alt="logo" width="36" height="28">

                    </p>
                </div>
            </div>


        </section>
    </div>

    {% endblock %}
    {% block javascripts %}
{% endblock %}