{% extends "admin/bars.html.twig" %}

{% block title %}Crear nuevo presupuesto{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('vendors/select2/dist/css/select2.min.css') }}" rel="stylesheet">
{% endblock %}


{% block contenpage %}
    <h1>Crear nuevo presupuesto</h1>
    <div class="me">
        <a href="{{ path('app_cliente_new') }}" class="btn btn-info btn-sm"> Crear cliente</a>
    </div>

    {{ include('budget/_form.html.twig') }}

    <a href="{{ path('app_budget_index') }}">Listado</a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendors/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('vendors/select2/dist/js/select2.min.js') }}"></script>
    <script src="{{ asset('vendors/select2/dist/js/i18n/es.js') }}"></script>
    <script>
        // import Scripts from "../../public/vendors/bootstrap/site/_includes/scripts.html";
        //
        // export default {
        //     components: {Scripts}
        // }
        $(document).ready(function () {
            $('.selection2').select2({
                placeholder: 'Seleccione por favor',
                language: "es",
                allowClear: true,
                width: '100%',
            });

            const $div = $('.js-item-row');
            $div.find('.js-add-item').on('click', function (e) {
                e.preventDefault()
                console.log('todo ');
                $(this).addClass('text-danger')
                $(this).find('.fa')
                    .removeClass('fa-plus-square')
                    .addClass('fa-spinner')
                    .addClass('fa-spin')
                console.log(e.currentTarget === this);
                // e.target.classname = e.target.classname + ' text-danger';


            });
            $div.find('.js-delete-item').on('click', function (e) {
                e.preventDefault()
                console.log('todo delete!');
            });
            $div.find('div').on('click', function() {
                console.log('row clicked!');
            });
            $div.find('select').on('change', function () {
                console.log('');
            });

        });


    </script>

    </script>
{% endblock %}