{% extends "admin/bars.html.twig" %}

{% block title %}Presupuesto Ver{% endblock %}

{% block contenpage %}
    <h1>Presupuesto Ver</h1>

    <table class="table">
        <tbody>
        {% if(is_granted('ROLE_SUPERVISOR_VENTAS')) %}
            <tr>
                <th>Id</th>
                <td>{{ budget.id }}</td>
            </tr>
        {% endif %}
            <tr>
                <th>Aclaraciones</th>
                <td>{{ budget.aclaraciones }}</td>
            </tr>
            <tr>
                <th>Cliente confirma</th>
                <td>{{ budget.clienteConfirma }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ budget.total }}</td>
            </tr>
            <tr>
                <th>Nro presupuesto</th>
                <td>{{ budget.nroBudget }}</td>
            </tr>
            <tr>
                <th>
                    Productos
                </th>
                <td>
                    {% for producto in budget.productos %}
                        {{ producto.title }}
                    {% endfor %}
                </td>
            </tr>
{#            <tr>#}
{#                <th>Creado</th>#}
{#                <td>{{ budget.createdAt ? budget.createdAt|date('d-m-Y H:i:s') : '' }}</td>#}
{#            </tr>#}
            <tr>
                <th>Iniciado</th>
                <td>{{ budget.updatedAt ? budget.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    {% if(is_granted('ROLE_SUPERVISOR_VENTAS')) %}
    <a href="{{ path('app_budget_index') }}">Listado</a>


    <a href="{{ path('app_budget_edit', {'id': budget.id}) }}">Editar</a>
    {% endif %}

    <a href="{{ path('app_budget_get_pdf', {'budget': budget.id}) }}">Descargar PDF</a>

{#    {{ include('budget/_delete_form.html.twig') }}#}
{% endblock %}
